*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary: "Questrial", sans-serif;
    --ff-accent: "Chakra Petch", monospace;
    --ff-mono: "IBM Plex Mono", monospace;
    --ff-pixel: "TheGoodMonolith", monospace;
    --fw-reg: 400;
    --fw-mid: 700;
    --fw-bold: 900;

    --clr-dark: #0B111D;
    --clr-dark-sec: #111A2C;
    --clr-dark-tert: #1D2B49;
    --clr-light: #F4EDEA;
    --clr-light-sec: #C5D8D1;
    --clr-accent: #06BCC1;

    --fs-h1: 4rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: var(--clr-accent);
    text-decoration: none;
    font-weight: var(--fw-mid);
    display: inline-block;
    transition: 0.2s ease;
}

a:hover {
    transition: 0.2s ease;
    opacity: 0.75;
    transform: translateY(-0.05em);
}

b,
strong {
    font-weight: var(--fw-bold);
}
section {
    padding: 4em 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
    font-weight: var(--fw-bold);
    font-family: var(--ff-accent);
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

p {
    margin: 0;
    padding: 0;
}

/* Custom styles */

.full-page {
    height: 100vh;
    width: 100vw;
}

.smaller {
    font-size: 0.65em;
}

.monospace {
    font-family: var(--ff-mono);
}

.pixel {
    font-family: var(--ff-pixel);
    font-size-adjust: 0.7;
}

.icon-display {
    display: flex;
    justify-content: space-around;
}

.hover-enlarge { transition: transform 0.2s ease; }
.hover-enlarge:hover { transform: scale(1.03); }

.page-bottom-scroll {
    --padding: 0.5em;
    font-size: 1.3em;
    transform: translate(calc(50% + var(--padding)));
    margin-left: var(--padding);
    left: 0;
    display: flex;
}

.page-bottom-scroll::before {
    content: '';
    position: relative;
    left: calc(-1 * var(--padding));
    display: inline-block;
    height: 100%;
    width: 2px;
    background-color: var(--clr-light);
}

/* */

#intro {
    background-image: url("../assets/img/earth.jpg");
    background-size: cover;
    
    --width: 2px;
    --height: 3vh;
}

#intro-overlay {
    background-color: rgba(0, 8, 23, 0.705);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#intro-logo {
    height: 7vh;
    width: auto;
    
    padding: 1.5vh;
}

#intro-text {
    font-size: 1.6em;
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    text-align: center;

    max-width: 560px;
    margin: 5vw;
}

/* Programming */

#programming {
    background-color: var(--clr-dark);
}

#programming-container {
    margin: 1em;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#programming-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 1.1em;
    
    max-width: 450px;
    margin: 1.5em;
    padding: 1.8em;
    border-radius: 0.8em;
    
    background-color: var(--clr-dark-sec);
    box-shadow: 0 0 0.2em 0.2em #0000000f;
}

/* */








/* Footer */

footer {
    height: 35vh;
}
