body {
  background: #15173b;
  font-family: arial;
  color: rgb(32, 182, 219);
}
h1 {
  color:rgb(108, 231, 240);
  background: #3038c2;
  padding:20px;
  margin: auto;
  width:20%;
  border: 3px;
  text-align: center;
}
ul{
  color: rgb(130, 170, 206);
  background: rgb(34, 62, 114);
  width: 10%;
  text-align: left;
}